/* Update form CSS */.update-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the form is on top of other content */
  display: none; /* Initially hide the form */
  max-width: 500px;
}

.update-form.active {
  display: block; 
}

.update-form input[type="text"],
.update-form input[type="number"],
.update-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.update-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.update-form button:hover {
  background-color: #45a049;
}

.update-form button[type="button"] {
  background-color: #f44336;
}

.update-form button[type="button"]:hover {
  background-color: #d32f2f;
}


.update-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}


.update-form label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}


.update-form .form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.update-form .data-box {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
}


.stockbrokers-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 20px;
}

.stockbroker {
  border: 2px solid #1032f6;
  border-radius: 5px;
  padding: 20px;
  background-color: #b1f1f6;
}

.stockbroker button {
  margin-top: 10px;
}
